name: 'Dispatch testing'
run-name: '${{ github.actor }} is learning GitHub Actions'
on:
  repository_dispatch:
    types: ['Dispatch testing']
  workflow_dispatch:

jobs:
  build:
   name: Run test script
   runs-on: ubuntu-latest
   steps:
    - name: Do Something Based On Triggered Event Data
      run: 'echo "Triggered event text: ${{ github.event.client_payload.text }}"'

    - name: Show disk usage
      run: df -h

    # - name: Top-level directories
    #   run: sudo du -h -d1 / | sort -hr | head -n 20

    # - name: Detailed file sizes
    #   run: sudo find / -type f -exec du -h {} + 2>/dev/null | sort -hr | head -n 1000

    # - name: Show installed packages
    #   run: dpkg -l

    - name: Aggressive cleanup
      run: |
        # Remove Java (JDKs)
        sudo rm -rf /usr/lib/jvm

        # Remove .NET SDKs
        sudo rm -rf /usr/share/dotnet

        # Remove Swift toolchain
        sudo rm -rf /usr/share/swift

        # Remove Haskell (GHC)
        sudo rm -rf /usr/local/.ghcup

        # Remove Julia
        sudo rm -rf /usr/local/julia*

        # Remove Android SDKs
        sudo rm -rf /usr/local/lib/android

        # Remove Chromium (optional if not using for browser tests)
        sudo rm -rf /usr/local/share/chromium

        # Remove Microsoft/Edge and Google Chrome builds
        sudo rm -rf /opt/microsoft /opt/google

        # Remove Azure CLI
        sudo rm -rf /opt/az

        # Remove PowerShell
        sudo rm -rf /usr/local/share/powershell

        # Remove CodeQL and other toolcaches
        sudo rm -rf /opt/hostedtoolcache

        docker system prune -af || true
        docker builder prune -af || true
        df -h

    # - name: Install dependencies
    #   run: |
    #     sudo apt update
    #     sudo DEBIAN_FRONTEND=noninteractive apt-get -q -y install autopkgtest qemu-system qemu-utils autodep8 genisoimage python3-distro-info

    # - name: Show disk usage
    #   run: df -h

    # - name: Build test image
    #   run: |
    #     cd "${GITHUB_WORKSPACE}"
    #     echo "Building test image for $(lsb_release -c -s)"
    #     sudo chown ${USER} /dev/kvm
    #     autopkgtest-buildvm-ubuntu-cloud -v --release=$(lsb_release -c -s)

    # - name: Show disk usage
    #   run: df -h

    # - name: Checkout
    #   uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
    #   with:
    #     ref: '${{ github.event.client_payload.ref }}'

    # - name: Run script
    #   run: |
    #     ./build.sh

    # - name: Test docker
    #   uses: ermshiperete/test-gha-action@eea13944d81e1a279e9eb30286641a7b371a9a21
    #   with:
    #     flavor: "debian"
    #     dist: "bookworm"
    #     platform: "i386"
    #     source_dir: "${{github.workspace}}"
    #     sourcepackage: "my-src-pkg.1.0-1.dsc"
    #     prerelease_tag: "helloworld"
    #     enable_llso: "false"
    #     enable_pso: "true"
