name: 'Dispatch testing'
run-name: '${{ github.actor }} is learning GitHub Actions'
on:
  repository_dispatch:
    types: ['Dispatch testing']
  workflow_dispatch:

jobs:
  build:
   name: Run test script
   runs-on: ubuntu-latest
   steps:
    - name: Do Something Based On Triggered Event Data
      run: 'echo "Triggered event text: ${{ github.event.client_payload.text }}"'

    - name: Show disk usage
      run: df -h

    # - name: Top-level directories
    #   run: sudo du -h -d1 / | sort -hr | head -n 20

    # - name: Detailed file sizes
    #   run: sudo find / -type f -exec du -h {} + 2>/dev/null | sort -hr | head -n 1000

    # - name: Show installed packages
    #   run: dpkg -l

    - name: Aggressive cleanup
      run: |
        echo "Before cleanup, disk usage is:"
        df -h

        # Remove Android SDKs (frees 12GB) ***
        sudo du -h -s /usr/local/lib/android
        sudo rm -rf /usr/local/lib/android
        echo "After removing Android SDKs, disk usage is:"
        df -h

        # Remove Haskell (GHC) (frees 6GB)
        sudo du -h -s/usr/local/.ghcup
        sudo rm -rf /usr/local/.ghcup
        echo "After removing Haskell (GHC), disk usage is:"
        df -h

        # Remove CodeQL and other toolcaches (frees 5GB)
        sudo du -h -s /opt/hostedtoolcache
        sudo rm -rf /opt/hostedtoolcache
        echo "After removing CodeQL and other toolcaches, disk usage is:"
        df -h

        # Remove .NET SDKs (frees 4GB)
        sudo du -h -s /usr/share/dotnet
        sudo rm -rf /usr/share/dotnet
        echo "After removing .NET SDKs, disk usage is:"
        df -h

        # # Remove Swift toolchain (frees 3GB)
        # sudo rm -rf /usr/share/swift
        # echo "After removing Swift toolchain, disk usage is:"
        # df -h

        # # # Remove PowerShell (frees 2GB)
        # # sudo rm -rf /usr/local/share/powershell
        # # echo "After removing PowerShell, disk usage is:"
        # # df -h

        # # Remove Java (JDKs) (frees 2GB)
        # sudo rm -rf /usr/lib/jvm
        # echo "After removing Java (JDKs), disk usage is:"
        # df -h

        # # Remove Julia (frees 1GB)
        # sudo rm -rf /usr/local/julia*
        # echo "After removing Julia, disk usage is:"
        # df -h

        # # Remove Chromium (frees 1GB))
        # sudo rm -rf /usr/local/share/chromium
        # echo "After removing Chromium, disk usage is:"
        # df -h

        # # Remove Microsoft/Edge and Google Chrome builds (frees 1GB)
        # sudo rm -rf /opt/microsoft /opt/google
        # echo "After removing Microsoft/Edge and Google Chrome builds, disk usage is:"
        # df -h

        # # Remove Azure CLI (frees < 1GB)
        # sudo rm -rf /opt/az
        # echo "After removing Azure CLI, disk usage is:"
        # df -h

        # docker system prune -af || true
        # echo "After Docker system prune, disk usage is:"
        # df -h
        # docker builder prune -af || true
        # echo "After Docker builder prune, disk usage is:"
        # df -h

    # - name: Install dependencies
    #   run: |
    #     sudo apt update
    #     sudo DEBIAN_FRONTEND=noninteractive apt-get -q -y install autopkgtest qemu-system qemu-utils autodep8 genisoimage python3-distro-info

    # - name: Show disk usage
    #   run: df -h

    # - name: Build test image
    #   run: |
    #     cd "${GITHUB_WORKSPACE}"
    #     echo "Building test image for $(lsb_release -c -s)"
    #     sudo chown ${USER} /dev/kvm
    #     autopkgtest-buildvm-ubuntu-cloud -v --release=$(lsb_release -c -s)

    # - name: Show disk usage
    #   run: df -h

    # - name: Checkout
    #   uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
    #   with:
    #     ref: '${{ github.event.client_payload.ref }}'

    # - name: Run script
    #   run: |
    #     ./build.sh

    # - name: Test docker
    #   uses: ermshiperete/test-gha-action@eea13944d81e1a279e9eb30286641a7b371a9a21
    #   with:
    #     flavor: "debian"
    #     dist: "bookworm"
    #     platform: "i386"
    #     source_dir: "${{github.workspace}}"
    #     sourcepackage: "my-src-pkg.1.0-1.dsc"
    #     prerelease_tag: "helloworld"
    #     enable_llso: "false"
    #     enable_pso: "true"
